/***********************************
               HEADER
************************************/
header{
    align-items:center;
}

header article .title{
    white-space:nowrap;
}

header article .title strong{
    opacity:0.6;
    display:block;
}

header article p{
    font-weight:200;
    opacity:0.7;
}

header section{
    width:40%;
    align-items:center;
    justify-content:center;
    text-align:center;
}

@media (max-width:1280px){
    .rotater{
        width:180px;
        height:180px;
    }
}

@media (max-width:1140px){
    .rotater{
        display:none;
    }
}

/***********************************
               MAIN
************************************/
/*division_1*/
.division_1 .card, .division_1 img{
    border-radius:40px;
    max-height:50vh;
}

.division_1 img{
    object-fit:cover;
    object-position:top left;
}

.division_1 .card figcaption{
    position:absolute;
    left:0;
    top:0;
    background-color:var(--primary);
    color:var(--dark);
    display:flex;
    align-items:Center;
    justify-content:center;
    border-radius:50%;
    width:60px;
    height:60px;
    border:5px solid var(--dark);
}

.division_1 .card:last-child{
    width:40%;
    margin-left:1rem;
    background-color:var(--primary);
    color:var(--dark);
}

.division_1 .card:last-child .title{
    line-height:1.5;
}

.division_1 article hr{
    width:50%;
    margin:1.5rem 0;
    color:var(--dark);
    opacity:0.6;
}

.division_1 article .btn{
    position:absolute;
    bottom:2rem;
    right:2rem;
}

@media (max-width:1280px){
    .division_1 article hr{
        margin:1rem 0;
    }
    
    .division_1 article .btn{
        bottom:1rem;
    }
}

@media (max-width:920px){
    .division_1 .card:last-child{
        width:100%;
        margin-left:0;
        bottom:2rem;
        border-radius:10px;
        width:95%;
        margin:auto;
    }
    
    .division_1 img{
        border-radius:40px 40px 0  0;
    }
    
    .division_1 article .btn{
        position:relative;
        bottom:0;
        right:0;
        float:right;
    }
    
    .division_1 .card figcaption{
        width:40px;
        height:40px;
    }
}



/*DIVISION_2*/
.division_2{
    background-color:var(--white);
    color:var(--dark);
}

.title_header{
    opacity:0.7;
    margin:2vh auto;
    text-align:center;
}

.title_header b{
    font-weight:400;
}

.division_2 table{
    width:100%;
    border-collapse:collapse;
    margin:2rem auto;
}

.division_2 table th, .division_2 table td{
    padding:1rem;
    width:100%;
    text-align:left;
    position:relative;
    align-items:Center;
    transition:0.5s;
}

.division_2 table tr{
    display:flex;
    align-items:center;
    transition:0.5s;
    cursor:default;
}

.division_2 table tr:not(:last-child){
    border-bottom:1px solid rgba(1,1,1,0.2);
}

.division_2 table .title{
    white-space:nowrap;
}

.division_2 table td{
    line-height:1.6;
    opacity:0.7;
    font-weight:200;
}

.division_2 table th iconify-icon:first-child{
    padding-right:1rem;
    color:var(--primary);
    transition:0.5s;
}

.division_2 table th iconify-icon:last-child{
    opacity:0.6;
    margin-left:1rem;
    transform:rotate(-40deg);
    transition:0.5s;
}

.division_2 table tr:hover th iconify-icon:last-child{
    color:var(--primary);
    opacity:1;
}

.division_2 table tr:hover th iconify-icon:first-child{
    color:var(--dark);
}

.division_2 table tr:hover td{
    opacity:1;
}

.division_2 table tr:not(:last-child):hover{
    border-bottom:1px solid var(--primary);
}

@media (max-width:620px){
    .division_2{
        padding:1rem 0 !important;
    }
    
    .division_2 table th iconify-icon:first-child{
        margin-right:0.5rem;
    }
    
    .division_2 table th iconify-icon:last-child{
        margin-left:0.5rem;
    }
}

